@use 'sass:map';

@import 'bootstrap/scss/functions';

$blue: #1952e1;
$blue-400: #1649ca;
$blue-300: #2e3e6e;
$secondary: $blue-400;
$gray-100: #f8f8fb;
$gray-200: #f3f4f9;
$gray-300: #e2e4ea;
$gray-400: #9a9da4;
$gray-500: #32363c;
$body-bg: #f3f4f9;
$body-color: #353536;

$font-family-base: 'Inter', sans-serif;
$font-size-lg: 1.5rem;
$font-size-base: 0.875rem;
$font-size-sm: 0.75rem;
$spacers: (
  0: 0,
  1: 0.5rem,
  // 8px
  2: 0.75rem,
  // 12px
  3: 1rem,
  // 16px
  4: 1.25rem,
  // 20px
  5: 1.5rem,
  // 24px
  6: 2rem,
  // 32px
  7: 2.5rem,
  // 40px
);
$border-color: $gray-200;
$list-group-hover-bg: $gray-100;
$list-group-active-color: $blue;
$h1-font-size: $font-size-lg;
$h2-font-size: $font-size-base;
$h3-font-size: $font-size-sm;
$headings-font-weight: 600;
$input-btn-font-size: $font-size-base * 0.9;
$nav-link-padding-y: 1.5rem;
$nav-link-color: $gray-400;
$nav-link-hover-color: $gray-500;
$nav-underline-gap: 0;
$nav-underline-border-width: 0.15rem;
$nav-underline-link-active-color: $blue;
$nav-link-font-weight: 500;
$grid-gutter-width: 2 * map.get($spacers, 5);
$btn-active-bg-shade-amount: 50%;

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
